/* Page-wide Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #d9dcd6;
}
.float-left {
    float: left;
    margin-right: 25px;
    }
    
.float-right {
    float: right;
    margin-left: 25px;
}
    
/* Header Styling */
    
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff
    }
    header h1 {
    display: inline-block;
    font-size: 48px;
    }
        header h1 .seo {
            color: #d9dcd6;
        }
    header a {
    text-decoration: none;
    color: #ffffff;
    }
    header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    }
        header nav ul li {
            list-style-type: none;
            display: inline-block;
        }
            header nav ul li a {
                margin-left: 25px;
                text-decoration: none;
                color: #ffffff;
            }

/* Hero Styling */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Left Content Styling */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
 }
    .content img {
        max-height: 200px;
    }
    .content-section {
        margin-bottom: 20px;
        padding: 50px;
        height: 300px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: left;
        color: #ffffff;
        background-color: #0072bb;
    }
    .content-section h2 {
        margin-bottom: 20px;
        font-size: 36px;
    }
    .content-section p {
        font-size: 16px;
    }